[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume
[submodule "public"]
	path = public
	url = git@github.com:devbackend/devbackend.github.io.git
	branch = master
